@import '../variables.scss';

#landing-main {
  background: {
    image: url('../../images/Galaxy1.jpg');
    position: center;
    repeat: no-repeat;
    size: cover;
  }
  height: 100vh;
  overflow: auto;
  padding: {
    left: 30%;
    right: 30%;
    top: 3vh;
  }
  width: 100%;
}

h1 {
  color: #EEDB00;
  font: {
    family: $large-text-font;
    size: 7rem;
  }
  line-height: 100%;
  margin-bottom: 7%;
  width: 100%;
}
