@import '../variables.scss';

.container-section {
  background: {
    attachment: fixed;
    image: url('../../images/star-wars-background.jpg');
    repeat: no-repeat;
    size: cover;
  }
  display: block;
  height: 100vh;
  overflow-x: scroll;
  position: relative;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-column-gap: 70px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: {
    left: auto;
    right: auto;
  }
  width: 90%;
}
