@import '../variables.scss';

.container-section {
  width: 100%;
  height: fit-content;
  background-image: url('../../images/star-wars-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}