@import '../variables.scss';

.header {
  background-color: $main-background-color;
  display: flex;
  height: 20vh;
  justify-content: space-around;
  width: 100%;
}

.logo-container, .info-container {
  width: 40%;
}

.logo-container {
  margin-left: -8%;
  text-align: center;
}

.logo-h1-header {
  font-size: 4.5rem;
  margin-bottom: 5%;
}

.quote-h3-header {
  color: $primary-accent-color;
  font: {
    family: $small-text-font;
    size: 1.6rem;
  }
}

.info-container {
  color: $primary-accent-color;
  font-family: $small-text-font;
  max-height: 100%;
  padding-top: 0.5%;
  text-align: right;
}

.welcome-message {
  font-size: 2rem;
}

.ranking-h3-header {
  font-size: 1.7rem;
}

.ranking {
  display: inline;
  font-size: 1.4rem;
  margin-left: 1%;
}

.logout-button-header {
  background-color: $secondary-background-color;
  font-family: $small-text-font;
  height: 30px;
  margin-top: 2%;
  outline: none;
  width: 15%;
  &:active {
    background-color: $main-header-color;
  }
}
