@font-face {
  font-family: 'StarWars Main';
  src: url('../Fonts/Starjedi.ttf');
}

#landing-main {
  background-image: url('../images/Galaxy1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 10vh;
  width: 100%;
}

h1 {
  color: #EEDB00;
  font-family: 'StarWars Main';
  font-size: 8rem;
  width: 100%;
}
