@import '../variables.scss';

html {
  background: {
    image: url('../../images/stars2.jpg');
    size: auto;
  }
  height: 100vh;
  margin: 0;
  width: 100%;
}

.text-section {
  bottom: 0;
  margin: {
    left: auto;
    right: auto;
  }
  // overflow: hidden;
  text-align: center;
  transform: perspective(300px) rotateX(25deg);
  transform-origin: 50% 100%;
  width: 30%;
}

.text-section:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.text-wrap {
  animation: scroll 100s linear 16s;
  position: absolute;
  top: 100%;
}

.title {
  color: $main-header-color;
  font: {
    family: $medium-text-font;
    size: 2.4rem;
  }
}

.text {
  color: $main-header-color;
  font: {
    family: $small-text-font;
    size: 1.6rem;
  }
}

@keyframes scroll {
    0% {
        top: 100%;
    }
    100% {
        top: -170%;
    }
}
