/* Colors:
  dark-grey: 131319
  starwars-yellow: EEDB00
  light-grey: EFF6EE
  light-blue: 2274A5
  dark-blue: 001F54 */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  text-align: center;
  width: 100vw;
}
